* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
::selection{
  background-color: black;
  color: white;
}
body{
  position: relative;
  color: black;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-two{
  display: flex;
  width: auto;
  text-wrap:nowrap;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
}
nav a{
  color: black;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  transition: transform 0.35s ease-in-out,
  filter 0.35s ease-in-out;
}

.logo{
  font-size: 2.5rem;
}
nav a:hover{
  transform: scale(1.1);
  filter: drop-shadow(0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.295));
}
#main{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content{
  width: 50%;
}
#content p{
  line-height: 2.2rem;
  font-weight: 500;
  font-size: 1.25rem;
}
#heading h1{
  font-weight: 700;
}
#thanks{
  margin-top:1rem;
  display: flex;
  justify-content: flex-end;
}
#image img{
  width: 30vw;
  height: auto;
} 
/* animation div */
#animation-div{
  z-index: -5;
  border-radius: 10% 25% 75% 10%;
  position: absolute;
  /* filter: blur(50px); */
  animation: colors 1.15s ease-in-out 0s infinite alternate;
  background-color: #09ff009f;
  top: 0;
  left: 0;
  width: 40vw;
  height: 75vh;
}
@keyframes colors {
  0%{
    filter: blur(30px);
  }
  25%{
    filter: blur(50px);
  }
  50%{
    filter: blur(70px);
  }
  75%{
    filter: blur(85px);
  }
  100%{
    
    filter: blur(100px);
  }
  
}

@media screen and (max-width: 700px) {
  body{
    padding: 2rem 1.75rem;
  }
  #nav-two{
    gap: 1rem;
 }
 .logo{
  font-size: 2rem;
 }
 
  #content{
    width: 100%;
  }
  
  #image{
    display:none;
  }
  
  #animation-div{
    display: none;
  }
}